@import url(_misc/mixins.css);
@import url(_misc/fonts.css);
@import url(_misc/layout.css);

@font-face {
    src: url('/fonts/gagalin-regular.otf');
    src: url('/fonts/ubuntu-light.ttf');
    src: url('/fonts/ubuntu-medium.ttf');
}