.best {
    background: url(/img/background-best.png) center center no-repeat;
    background-size: 100%;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.section-title--color-black {
    margin-bottom: 56px;
}
.best__list {
    display: flex;
}

.best__item {
    flex: 1;
    margin-right: 10px;

    &:last-child {
        margin-right: 0;
    }
}

.feauture__pic {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.feauture__title {
    font-size: 24px;
    font-weight: 500;
    color: black;
    margin-bottom: 26px;
}



.feuture__text {
    font-size: 16px;
}

.feauture__desc {
    text-align: center;
}