.carte {
    background: url('/img/menu-background.png') no-repeat center center;
    background-size: cover;
}

.carte__headline {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carte__wrapper {
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
}

ul.carte__accordion {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;

}

.carte__block {
    position: relative;
}

.carte__block .carte__headline {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(50%, -20%);
}

.carte__headline {
    font-family: 'Gagalin';
    font-size: 70px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    line-height: 0.889;
}

ul.carte__accordion li {
    width: 80px;
    overflow: hidden;
    cursor: pointer;
    display: block;
    transition: all 1.5s;
}



ul.carte__accordion li:hover {
    opacity: 1;
    background: rgba(49, 51, 52, 0.8);
    background-size: 50%;
    width: 780px;
    transition: all 1s;
}