.hero {
    background: url('../../img/background-hero.png') center center   no-repeat;
    background-size: 100%;
    position: relative;
}

.hero__container{
    justify-content: flex-start;
}
.hero__content {
    flex: .8;
    display: flex;
    align-items: center;
    margin-bottom: 95px;
}

.hero__desc {
    font-size: 65px;
    line-height: 1;
    color: #ffffff;
}