.pagination__link {
  position: absolute;
  border-radius: 50%;
  height: 6px;
  width: 6px;
  top: 50%;
  left: 50%;
  margin: -3px 0px 0px -3px;
  border: 1px solid white;
  background: white; }

.pagination__item {
  margin-bottom: 10px; }

.pagination__item {
  width: 20px;
  height: 20px;
  border: 0px solid white;
  border-radius: 50%;
  position: relative;
  cursor: pointer; }

.pagination__item--active {
  width: 16px;
  height: 16px;
  border: 1px solid white;
  border-radius: 50%;
  position: relative;
  cursor: pointer; }

.pagination__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-box-pack: baseline;
  -ms-flex-pack: baseline;
  justify-content: baseline; }
