.section-title {
    font-size: 72px;
    margin-bottom: 45px;
    line-height: 1;
    color: #f9b43b;
    font-family: 'Gagalin';

    &--color-black {
        color: #000000;
    }

    &--centered {
        text-align: center;
    }
}