.video__section {
  background: url(/img/video-section-photo.png) center center no-repeat;
  background-size: 100%; }

.video__cooking {
  width: 660px;
  height: 405px; }

.video__title {
  font-size: 50px;
  color: #2f3234;
  text-transform: uppercase;
  text-align: center; }
